body {
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  padding: 20px 40px;
  margin: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url("./assets/backgrounds/SC_20_Wallpaper_3840x2160.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
  color: white;
}

* {
  box-sizing: border-box;
}
